In [1]:
import math
math.sqrt(500)

22.360679774997898

3, 5, 7, 11, 13, 17, 19 are prime numbers you need.

In [1]:
def func(x):
    x = x**2
    return x
func(3)

9

In [74]:
def func(x):
    x = 3*3 + 2*x*3
    return x
func(1); func(2); func(3); func(4); func(5); func(6); func(7); func(8); func(9); func(10); 
func(11);func(12); func(13); func(14); func(15); func(16); func(17); func(18); func(19); func(20); 
func(21); func(22); func(23); func(24); func(25); func(26); func(27); func(28); func(29); func(30)

189

In [75]:
print [func(1), func(2), func(3), func(4), func(5), func(6), func(7), func(8), func(9), func(10), 
       func(11), func(12), func(13), func(14), func(15), func(16), func(17), func(18), func(19), func(20), 
       func(21), func(22), func(23), func(24), func(25), func(26), func(27), func(28), func(29), func(30)]

[15, 21, 27, 33, 39, 45, 51, 57, 63, 69, 75, 81, 87, 93, 99, 105, 111, 117, 123, 129, 135, 141, 147, 153, 159, 165, 171, 177, 183, 189]

In [76]:
func(31); func(32); func(33); func(34); func(35); func(36); func(37); func(38); func(39); func(40); 
func(41); func(42); func(43); func(44); func(45); func(46); func(47); func(48); func(49); func(50);
func(51); func(52); func(53); func(54); func(55); func(56); func(57); func(58); func(59); func(60);
func(61); func(62); func(63); func(64); func(65); func(66); func(77); func(68); func(69); func(70);
func(71); func(72); func(73); func(74); func(75); func(76); func(77); func(78); func(79); func(80);
func(81)

495

In [77]:
print [func(31), func(32), func(33), func(34), func(35), func(36), func(37), func(38), func(39), func(40), 
       func(41), func(42), func(43), func(44), func(45), func(46), func(47), func(48), func(49), func(50), 
       func(51), func(52), func(53), func(54), func(55), func(56), func(57), func(58), func(59), func(60), 
       func(61), func(62), func(63), func(64), func(65), func(66), func(67), func(68), func(69), func(70), 
       func(71), func(72), func(73), func(74), func(75), func(76), func(77), func(78), func(79), func(80), 
       func(81)]

[195, 201, 207, 213, 219, 225, 231, 237, 243, 249, 255, 261, 267, 273, 279, 285, 291, 297, 303, 309, 315, 321, 327, 333, 339, 345, 351, 357, 363, 369, 375, 381, 387, 393, 399, 405, 411, 417, 423, 429, 435, 441, 447, 453, 459, 465, 471, 477, 483, 489, 495]

In [21]:
def func(x):
    x = x**2
    return x
func(5)

25

In [26]:
def func(x):
    x = 5*5 + 2*x*5
    return x
func(1); func(2); func(3); func(4); func(5); func(6); func(7); func(8); func(9); func(10); 
func(11);func(12); func(13); func(14); func(15); func(16); func(17); func(18); func(19); func(20); 
func(21); func(22); func(23); func(24); func(25); func(26); func(27); func(28); func(29); func(30); 
func(31); func(32); func(33); func(34); func(35); func(36); func(37); func(38); func(39); func(40); 
func(41); func(42); func(43); func(44); func(45); func(46);func(47)

495

In [28]:
print [func(1), func(2), func(3), func(4), func(5), func(6), func(7), func(8), func(9), func(10), 
       func(11), func(12), func(13), func(14), func(15), func(16), func(17), func(18), func(19), func(20), 
       func(21), func(22), func(23), func(24), func(25), func(26), func(27), func(28), func(29), func(30), 
       func(31), func(32), func(33), func(34), func(35), func(36), func(37), func(38), func(39), func(40), 
       func(41), func(42), func(43), func(44), func(45), func(46), func(47)]

[35, 45, 55, 65, 75, 85, 95, 105, 115, 125, 135, 145, 155, 165, 175, 185, 195, 205, 215, 225, 235, 245, 255, 265, 275, 285, 295, 305, 315, 325, 335, 345, 355, 365, 375, 385, 395, 405, 415, 425, 435, 445, 455, 465, 475, 485, 495]

In [30]:
def func(x):
    x = x**2
    return x
func(7)

49

In [34]:
def func(x):
    x = 7*7 + 2*x*7
    return x
func(1); func(2); func(3); func(4); func(5); func(6); func(7); func(8); func(9); func(10); 
func(11);func(12); func(13); func(14); func(15); func(16); func(17); func(18); func(19); func(20); 
func(21); func(22); func(23); func(24); func(25); func(26); func(27); func(28); func(29); func(30); 
func(31);func(32)

497

In [35]:
print [func(1), func(2), func(3), func(4), func(5), func(6), func(7), func(8), func(9), func(10), 
       func(11), func(12), func(13), func(14), func(15), func(16), func(17), func(18), func(19), func(20), 
       func(21), func(22), func(23), func(24), func(25), func(26), func(27), func(28), func(29), func(30), 
       func(31), func(32)]

[63, 77, 91, 105, 119, 133, 147, 161, 175, 189, 203, 217, 231, 245, 259, 273, 287, 301, 315, 329, 343, 357, 371, 385, 399, 413, 427, 441, 455, 469, 483, 497]

In [36]:
def func(x):
    x = x**2
    return x
func(11)

121

In [48]:
def func(x):
    x = 11*11 + 2*x*11
    return x
func(1); func(2); func(3); func(4); func(5); func(6); func(7); func(8); func(9); func(10); 
func(11); func(12); func(13); func(14); func(15); func(16); func(17)

495

In [43]:
print [func(1), func(2), func(3), func(4), func(5), func(6), func(7), func(8), func(9), func(10), 
       func(11), func(12), func(13), func(14), func(15), func(16), func(17)]

[143, 165, 187, 209, 231, 253, 275, 297, 319, 341, 363, 385, 407, 429, 451, 473, 495]

In [44]:
def func(x):
    x = x**2
    return x
func(13)

169

In [49]:
def func(x):
    x = 13*13 + 2*x*13
    return x
func(1); func(2); func(3); func(4); func(5); func(6); func(7); func(8); func(9); func(10); 
func(11); func(12)

481

In [50]:
print [func(1), func(2), func(3), func(4), func(5), func(6), func(7), func(8), func(9), func(10), 
       func(11), func(12)]

[195, 221, 247, 273, 299, 325, 351, 377, 403, 429, 455, 481]

In [51]:
def func(x):
    x = x**2
    return x
func(17)

289

In [55]:
def func(x):
    x = 17*17 + 2*x*17
    return x
func(1); func(2); func(3); func(4); func(5); func(6)

493

In [56]:
print [func(1), func(2), func(3), func(4), func(5), func(6)]

[323, 357, 391, 425, 459, 493]

In [57]:
def func(x):
    x = x**2
    return x
func(19)

361

In [61]:
def func(x):
    x = 19*19 + 2*x*19
    return x
func(1); func(2); func(3)

475

In [62]:
print [func(1), func(2), func(3)]

[399, 437, 475]

In [64]:
print [i for i in range(500)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298, 299, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337, 338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350, 351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363, 364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377, 378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389, 390, 391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402, 403, 404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415, 416, 417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428, 429, 430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 440, 441, 442, 443, 444, 445, 446, 447, 448, 449, 450, 451, 452, 453, 454, 455, 456, 457, 458, 459, 460, 461, 462, 463, 464, 465, 466, 467, 468, 469, 470, 471, 472, 473, 474, 475, 476, 477, 478, 479, 480, 481, 482, 483, 484, 485, 486, 487, 488, 489, 490, 491, 492, 493, 494, 495, 496, 497, 498, 499]

In [66]:
print [lst[1::2]]

[[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99, 101, 103, 105, 107, 109, 111, 113, 115, 117, 119, 121, 123, 125, 127, 129, 131, 133, 135, 137, 139, 141, 143, 145, 147, 149, 151, 153, 155, 157, 159, 161, 163, 165, 167, 169, 171, 173, 175, 177, 179, 181, 183, 185, 187, 189, 191, 193, 195, 197, 199, 201, 203, 205, 207, 209, 211, 213, 215, 217, 219, 221, 223, 225, 227, 229, 231, 233, 235, 237, 239, 241, 243, 245, 247, 249, 251, 253, 255, 257, 259, 261, 263, 265, 267, 269, 271, 273, 275, 277, 279, 281, 283, 285, 287, 289, 291, 293, 295, 297, 299, 301, 303, 305, 307, 309, 311, 313, 315, 317, 319, 321, 323, 325, 327, 329, 331, 333, 335, 337, 339, 341, 343, 345, 347, 349, 351, 353, 355, 357, 359, 361, 363, 365, 367, 369, 371, 373, 375, 377, 379, 381, 383, 385, 387, 389, 391, 393, 395, 397, 399, 401, 403, 405, 407, 409, 411, 413, 415, 417, 419, 421, 423, 425, 427, 429, 431, 433, 435, 437, 439, 441, 443, 445, 447, 449, 451, 453, 455, 457, 459, 461, 463, 465, 467, 469, 471, 473, 475, 477, 479, 481, 483, 485, 487, 489, 491, 493, 495, 497, 499]]

In [78]:
l1 = [ 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 
      67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99, 101, 103, 105, 107, 109, 111, 113, 115, 117, 119, 121, 123, 
      125, 127, 129, 131, 133, 135, 137, 139, 141, 143, 145, 147, 149, 151, 153, 155, 157, 159, 161, 163, 165, 167, 169, 171, 173, 175, 
      177, 179, 181, 183, 185, 187, 189, 191, 193, 195, 197, 199, 201, 203, 205, 207, 209, 211, 213, 215, 217, 219, 221, 223, 225, 227, 
      229, 231, 233, 235, 237, 239, 241, 243, 245, 247, 249, 251, 253, 255, 257, 259, 261, 263, 265, 267, 269, 271, 273, 275, 277, 279, 
      281, 283, 285, 287, 289, 291, 293, 295, 297, 299, 301, 303, 305, 307, 309, 311, 313, 315, 317, 319, 321, 323, 325, 327, 329, 331, 
      333, 335, 337, 339, 341, 343, 345, 347, 349, 351, 353, 355, 357, 359, 361, 363, 365, 367, 369, 371, 373, 375, 377, 379, 381, 383, 
      385, 387, 389, 391, 393, 395, 397, 399, 401, 403, 405, 407, 409, 411, 413, 415, 417, 419, 421, 423, 425, 427, 429, 431, 433, 435, 
      437, 439, 441, 443, 445, 447, 449, 451, 453, 455, 457, 459, 461, 463, 465, 467, 469, 471, 473, 475, 477, 479, 481, 483, 485, 487, 
      489, 491, 493, 495, 497, 499]
l2 = [9, 25, 49, 121, 169, 289, 361,15, 21, 27, 33, 39, 45, 51, 57, 63, 69, 75, 81, 87, 93, 99, 105, 111, 117, 123, 129, 135, 141, 147, 
      153, 159, 165, 171, 177, 183, 189, 195, 201, 207, 213, 219, 225, 231, 237, 243, 249, 255, 261, 267, 273, 279, 285, 291, 297, 303, 
      309, 315, 321, 327, 333, 339, 345, 351, 357, 363, 369, 375, 381, 387, 393, 399, 405, 411, 417, 423, 429, 435, 441, 447, 453, 459, 
      465, 471, 477, 483, 489, 495, 35, 45, 55, 65, 75, 85, 95, 105, 115, 125, 135, 145, 155, 165, 175, 185, 195, 205, 215, 225, 235, 245, 
      255, 265, 275, 285, 295, 305, 315, 325, 335, 345, 355, 365, 375, 385, 395, 405, 415, 425, 435, 445, 455, 465, 475, 485, 495, 63, 77, 
      91, 105, 119, 133, 147, 161, 175, 189, 203, 217, 231, 245, 259, 273, 287, 301, 315, 329, 343, 357, 371, 385, 399, 413, 427, 441, 455, 
      469, 483, 497, 143, 165, 187, 209, 231, 253, 275, 297, 319, 341, 363, 385, 407, 429, 451, 473, 495, 195, 221, 247, 273, 299, 325, 351, 
      377, 403, 429, 455, 481, 323, 357, 391, 425, 459, 493, 399, 437, 475]
result = list(set(l1) - set(l2))
print(result)

[3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97, 101, 103, 107, 109, 113, 127, 131, 137, 139, 149, 151, 157, 163, 167, 173, 179, 181, 191, 193, 197, 199, 211, 223, 227, 229, 233, 239, 241, 251, 257, 263, 269, 271, 277, 281, 283, 293, 307, 311, 313, 317, 331, 337, 347, 349, 353, 359, 367, 373, 379, 383, 389, 397, 401, 409, 419, 421, 431, 433, 439, 443, 449, 457, 461, 463, 467, 479, 487, 491, 499]

2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97, 101, 103, 107, 109, 113, 127, 131, 137, 139, 149, 151, 157, 163, 167, 173, 179, 181, 191, 193, 197, 199, 211, 223, 227, 229, 233, 239, 241, 251, 257, 263, 269, 271, 277, 281, 283, 293, 307, 311, 313, 317, 331, 337, 347, 349, 353, 359, 367, 373, 379, 383, 389, 397, 401, 409, 419, 421, 431, 433, 439, 443, 449, 457, 461, 463, 467, 479, 487, 491, 499 are prime numbers in 500.