In [1]:
import math
math.sqrt(50)

7.0710678118654755

2,3,5,7 are apparent prime numbers in 50.

In [2]:
lst = [i for i in range(50)]
lst

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49]

In [3]:
lst[0::2]

[0,
 2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48]

In [4]:
lst[1::2]

[1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49]

In [16]:
def func(p):
    e = p**2
    return e
func(3)

9

In [7]:
def func(p):
    e = p**2 + p*2
    return e
func(3)

15

In [8]:
def func(p):
    e = p**2 + p*2 +p*2
    return e
func(3)

21

In [9]:
def func(p):
    e = p**2 + p*2 + p*2 + p*2
    return e
func(3)

27

In [10]:
def func(p):
    e = p**2 + p*2 + p*2 + p*2 + p*2
    return e
func(3)

33

In [11]:
def func(p):
    e = p**2 + p*2 + p*2 + p*2 + p*2 + p*2
    return e
func(3)

39

In [12]:
def func(p):
    e = p**2 + p*2 + p*2 + p*2 + p*2 + p*2 + p*2
    return e
func(3)

45

In [17]:
def func(p):
    e = p**2 
    return e
func(5)

25

In [13]:
def func(p):
    e = p**2 + p*2 
    return e
func(5)

35

In [14]:
def func(p):
    e = p**2 + p*2 + p*2 
    return e
func(5)

45

In [18]:
def func(p):
    e = p**2 
    return e
func(7)

49

In [19]:
l1 = [3,5,7,9,11,13,15,17,19,21,23,25,27,29,31,33,35,37,39,41,43,45,47,49]
l2 = [9,15,21,27,33,39,45,25,35,45,49]
result = list(set(l1) - set(l2))
print(result)

[3, 5, 7, 41, 11, 13, 47, 17, 37, 19, 43, 23, 29, 31]

In [20]:
sorted([3, 5, 7, 41, 11, 13, 47, 17, 37, 19, 43, 23, 29, 31])

[3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

âˆ´ 2,3,5,7,11,13,17,19,23,29,31,37,41,43,47 are prime numbers in 50.